Repository jaibhedia/ChainzRegistry, pull requests merged in 2024-08, with the labels that each got.

#50 Update README.md
  README.md
Labels: documentation, 1 Point

#42 Added CodeOfConduct.md
  CodeOfConduct.md
Labels: documentation, enhancement, good first issue, gssoc, 1 Point

#63 updated Readme.md #56
  README.md
Labels: documentation, good first issue, gssoc, 1 Point

#58 code: added issue btns and respective forms
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation, good first issue, gssoc, level1

#46 Added auto commenting feature on issue creation
  .github/workflows/auto-comment-on-issue.yml
Labels: documentation, enhancement, good first issue, gssoc, 1 Point

#47 Added issue template for documentation issues
  .github/ISSUE_TEMPLATE/documentation.md
Labels: documentation, good first issue, gssoc, 1 Point
